<!doctype html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <title>Robit - Home Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <h1> <a href = "../"><img src="../static/bender.png" width="5%"> OOTP Robit</a></h1>
    <h2> {% if phrase %} {{phrase}} {% else %} This would say something witty, but Hugh is dumb {% endif %}</h2>

    {% if error %}
    <h2 style="color:red"> {{error}} </h2>
    {% else %}
    {% endif %}

    <div class = 'row'>
        <div class = 'column'>
            <h3> Team search </h3>
            <form method="POST">
                <input name="team">
                <input type="submit">
            </form>
        </div>
        <div class = 'column'  valign="center">
            <input type = 'button' value = 'Player Comparison' onclick='window.location.href="/compare"'>
        </div>
        <div class = 'column'>
            <h3> Player search </h3>
            <form method="POST">
                <input name="player">
                <input type="submit">
            </form>
        </div>
    </div>
    </br> </br>
    <div class='row'>
        <div class='column'>
            <table id="all-rise" class="display nowrap" style="width:50%; float:left"></table>
        </div>
        <div class='column'>
            <table id="all-fall" class="display nowrap" style="width:50%; float:left"></table>
        </div>
    </div>
    <hr/>
    <hr/>
    <div class='row'>
        <div class='column'>
            <table id="partial-rise" class="display nowrap" style="width:50%; float:left"></table>
        </div>
        <div class='column'>
            <table id="partial-fall" class="display nowrap" style="width:50%; float:left"></table>
        </div>
    </div>
</body>

<script>
    var colNames = {{ col_names|safe }};
    var allRise = {{ all_rise|safe }};
    var allFall = {{ all_fall|safe }};
    var partialRise = {{ partial_rise|safe }};
    var partialFall = {{ partial_fall|safe }};

    var columns = colNames.map(function(item) {return {title: item}});

    $(document).ready(function() {
        $('#all-rise').DataTable( {
            data: allRise,
            columns: columns,
            pageLength: 10,
            searching: false,
            bInfo: false,
            dom: '<l<t><"pull-left"p>>',
            order: [[colNames.indexOf('og-1'), 'desc']],
        } );
    } );
    $('.dataTables_filter').addClass('pull-left');



    $(document).ready(function() {
        $('#all-fall').DataTable( {
            data: allFall,
            columns: columns,
            pageLength: 10,
            searching: false,
            bInfo: false,
            dom: '<l<t><"pull-left"p>>',
            order: [[colNames.indexOf('og-1'), 'desc']],
        } );
    } );

    $(document).ready(function() {
        $('#partial-rise').DataTable( {
            data: partialRise,
            columns: columns,
            pageLength: 10,
            searching: false,
            bInfo: false,
            dom: '<l<t><"pull-left"p>>',
            order: [[colNames.indexOf('og-1'), 'desc']],
        } );
    } );

    $(document).ready(function() {
        $('#partial-fall').DataTable( {
            data: partialFall,
            columns: columns,
            pageLength: 10,
            searching: false,
            bInfo: false,
            dom: '<l<t><"pull-left"p>>',
            order: [[colNames.indexOf('og-1'), 'desc']],
        } );
    } );
</script>
