<!doctype html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
  <title> Player Development </title>
  <script type="text/javascript" src="../static/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
  <body>
  <h1> <a href = "../"><img src="../static/bender.png", width="5%"> OOTP Robit</a></h1>
  <h2> {% if phrase %} {{phrase}} {% else %} This would say something witty, but Hugh is dumb {% endif %}</h2>

  <div class='row'>
      <div class = 'column'>
          <h3> Team search </h3>
          <form method="POST">
              <input name="team">
              <input type="submit">
          </form>
      </div>
      <div class = 'column'  valign="center">
          <input type = 'button' value = 'Player Comparison' onclick='window.location.href="/compare"'>
      </div>
      <div class = 'column'>
          <h3> Player search </h3>
          <form method="POST">
              <input name="player">
              <input type="submit">
          </form>
      </div>
  </div>
  <hr></hr>

    {% if name %}
    <p>  {{name|safe}}  <p>
    {% if rating_header %}
    <p style="font-size:150%;"> {{rating_header|safe}} </p>
    {% endif %}
    {% if bio %}
    <p style="font-size:150%;"> {{bio|safe}} <p>
    {% else %}
    <h2> Under construction! </h2>
    {% endif %}

<!--     {% if stats %}
    <p style="font-size:150%;color:#AAAAAA"> {{stats|safe}} <p>
    {% else %}
    <h2> Under construction! </h2>
    {% endif %}
 -->

    <div class="row" id="dist">
        <div class="column" id="war_dist">
            <!-- d3 code will be inserted here -->
        </div>
        <div class="column" id="secondary_dist">
            <!-- d3 code will be inserted here -->
        </div>
    </div>

    <div class='row' id="ratings">
      <!-- d3 code will be inserted here -->
    </div>

    <div class='row' id='other_teams'>
      {% if other_team_table %}
      {{other_team_table|safe}}
      {% endif %}
    </div>

    <hr/>

    <div class="row">
      <div class="column">
        {% if table %}
          <h1> Past Information </h1>
          <br>
          {{table|safe }}
        {% else %}
          <p> Error - no table </p>
        {% endif %}
      </div>
    </div>
    <hr/>
      <div class="row">
      <div class="column">
        <div>
          {% if total_change_str %}
            <p style="font-size:20px;"> {{total_change_str|safe}} </p>
          {% else %}
          {% endif %}
        </div>

        {% if def_stats %}
          <h3> Defensive Stats </h3>
          {{def_stats|safe }}
        {% else %}
          <p> Error - no table </p>
        {% endif %}
      </div>
    </div>
    <hr/>

    <h3> Splits </h3>
        <div class='row' id="splits-ratings">
          <!-- d3 code will be inserted here -->
        </div>
    <hr/>

    {% if statsplus_info %}
        <div id='statsplus_info'>
            {{ statsplus_info | safe }}
        </div>
        <div class = "row" style="margin-bottom: 50px">
            <div class="column" style="max-width:45%">
                <table id="injuries" class="display" style="width:100%; margin-left: 0"></table>
            </div>
            <div class="column" style="margin-left: 5%; max-width:45%">
                <table id="transactions" class="display" style="width:100%; margin-left: 0"></table>
            </div>
        </div>
    {% endif %}

    <hr/>

    <h3> Development </h3>
    <div class="row">
      <div class="column" id="development_og">
        <!-- d3 code will be inserted here -->
      </div>
      <div class="column" id="development_mwar">
        <!-- d3 code will be inserted here -->
      </div>
      <!-- empty div to left align everything -->
      <div class="column" style="width:100%">
      </div>
    </div>
    <div class="row">
      <div class="column" id="development_woba">
        <!-- d3 code will be inserted here -->
      </div>
      <div class="column" id="development_fip">
        <!-- d3 code will be inserted here -->
      </div>
      <div class="column" style="width:100%">
      </div>
    </div>
  {% else %}
  {% endif %}

  <hr/>

  {% if statsplus_info %}
    <div class="row">
        {% if pit_stats[0]|length > 0 %}
            <div class="column" style="max-width: 800px; margin-bottom: 20px; margin-right: 10px">
                <h3> Majors Pitching Data </h3>
                <table id="pitch-stats-mj" class="display compact cell-border" style="width:100%; margin-left: 0"></table>
            </div>
        {% endif %}
        {% if pit_stats[1]|length > 0 %}
            <div class="column" style="max-width: 800px; margin-bottom: 20px">
                <h3> Minors Pitching Data </h3>
                <table id="pitch-stats-mn" class="display compact cell-border" style="width:100%; margin-left: 0"></table>
            </div>
        {% endif %}
    </div>
      <div class="row">
        {% if hit_stats[0]|length > 0 %}
            <div class="column" style="max-width: 800px; margin-bottom: 20px; margin-right: 10px">
                <h3> Majors Hitting Data </h3>
                <table id="hit-stats-mj" class="display compact cell-border" style="width:100%; margin-left: 0"></table>
            </div>
        {% endif %}
        {% if hit_stats[1]|length > 0 %}
            <div class="column" style="max-width: 800px; margin-bottom: 20px">
                <h3> Minors Hitting Data </h3>
                <table id="hit-stats-mn" class="display compact cell-border" style="width:100%; margin-left: 0"></table>
            </div>
        {% endif %}
    </div>
  {% endif %}
</body>

<script type="text/javascript" src="../static/player_rating_bars.js"></script>

<script type="text/javascript">
  // do jinja things
  let pitching_json = JSON.parse({{pit_rats|tojson}});
  let batting_json = JSON.parse({{bat_rats|tojson}});
  let other_json = JSON.parse({{other_rats|tojson}});
  let def_json = JSON.parse({{def_rats|tojson}});
  let ind_pit_json = JSON.parse({{ind_pit_rats|tojson}});
  let bat_splits = JSON.parse({{bat_splits|tojson}});
  let pit_splits = JSON.parse({{pit_splits|tojson}});

  // then build our svg
  createSVG(pitching_json, batting_json, other_json, def_json, ind_pit_json, bat_splits, pit_splits)
</script>

<script type="text/javascript">
    function fillColor(WAR){
        if (WAR >= 7){
            return '#44bbdd';
        }
        else if (WAR >= 5){
            return '#117722';
        }
        else if (WAR >= 3){
            return '#eac117';
        }
        else if (WAR >= 0){
            return '#dd8033';
        }
        else {
            return '#dd0000';
        }
    }

    const svgHeight = 200;
    const svgWidth = 600;
    const svgMargin = 20;

    let warDists = {{ war_dists|tojson }};

    const minPitchWar = d3.min(warDists['pit_dist'], function (d) {return d.WAR});
    const maxPitchWar = d3.max(warDists['pit_dist'], function (d) {return d.WAR});

    const barWidthPitch = svgWidth / (2 * (maxPitchWar - minPitchWar + 0.5));

    const minBatWar = d3.min(warDists['bat_dist'], function (d) {return d.WAR});
    const maxBatWar = d3.max(warDists['bat_dist'], function (d) {return d.WAR});

    const barWidthBat = svgWidth / (2 * (maxBatWar - minBatWar + 0.5));

    // build pitching WAR dists
    if(maxPitchWar > 0){
        const header = d3.select("#war_dist").append("h3").text("As Pitcher");

        const svg = d3.select("#war_dist")
            .append('svg')
            .attr('width', svgWidth)
            .attr('height', svgHeight);

        const xScale = d3.scaleLinear()
            .domain([minPitchWar, maxPitchWar])
            .range([svgMargin, svgWidth - svgMargin]);

        const yScale = d3.scaleLinear()
            .domain([
                d3.max(warDists['pit_dist'], function (d) {return d.p}),
                0,
            ])
            .range([svgMargin, svgHeight - svgMargin]);

        const xAxis = d3.axisBottom().scale(xScale);

        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(0,' + (svgHeight - svgMargin) + ")")
            .attr('font-weight', 'bold')
            .call(xAxis);

        svg.selectAll('rect.backgrounds')
            .data(warDists['pit_dist'])
            .enter()
            .append('rect')
            .attr('stroke-width', 2)
            .attr('stroke', 'black')
            .attr('height', function(d){return svgHeight - svgMargin - yScale(d.p)})
            .attr('width', barWidthPitch - 2)
            .attr('x', function(d){return xScale(d.WAR)})
            .attr('y',  function(d){return yScale(d.p)})
            .attr('fill', function(d){return fillColor(d.WAR)});
    }

    if(maxBatWar > 0){
        const divId = maxPitchWar > 0 ? "#secondary_dist" : "#war_dist";

        const header = d3.select(divId).append("h3").text("As Batter");
        const svg = d3.select(divId)
            .append('svg')
            .attr('width', svgWidth)
            .attr('height', svgHeight);

        svg.text('As Batter').attr('x', 0).attr('y', 0);

        const xScale = d3.scaleLinear()
            .domain([minBatWar, maxBatWar])
            .range([svgMargin, svgWidth - svgMargin]);

        const yScale = d3.scaleLinear()
            .domain([
                d3.max(warDists['bat_dist'], function (d) {return d.p}),
                0,
            ])
            .range([svgMargin, svgHeight - svgMargin]);

        const xAxis = d3.axisBottom().scale(xScale);

        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(0,' + (svgHeight - svgMargin) + ")")
            .attr('font-weight', 'bold')
            .call(xAxis);

        svg.selectAll('rect.backgrounds')
            .data(warDists['bat_dist'])
            .enter()
            .append('rect')
            .attr('stroke-width', 2)
            .attr('stroke', 'black')
            .attr('height', function(d){return svgHeight - svgMargin - yScale(d.p)})
            .attr('width', barWidthBat - 2)
            .attr('x', function(d){return xScale(d.WAR)})
            .attr('y',  function(d){return yScale(d.p)})
            .attr('fill', function(d){return fillColor(d.WAR)});
    }
</script>

<script type="text/javascript">
  var subset_json = JSON.parse({{subset|tojson}});
  var month_labs = {{months|tojson}}['months'];
  var bat_benchmarks = JSON.parse({{bat_levs|tojson}});
  var pit_benchmarks = JSON.parse({{pit_levs|tojson}});

  // sizing
  var svg_height = 400;
  var svg_width = 600;
  var pct_pad = 0.075;
  var it_sz = 5;  // items
  var x_padding = pct_pad * svg_height - 10;
  var y_padding = pct_pad * svg_width - 10;

  // add a background color (scheme in https://visme.co/blog/website-color-schemes/)
  color_back = '#FFFFFF';
  color_main = '#123C69';
  color_sec = '#AC3B61';
  color_ter = '#BAB2B5';

  // create our svg
  svg1 = d3.select('#development_og')
          .append('svg')
          .attr('width', svg_width)
          .attr('height', svg_height);

  svg1.append('rect')
     .attr('width', svg_width)
     .attr('height', svg_height)
     .attr('fill', color_back);

  svg2 = d3.select('#development_woba')
          .append('svg')
          .attr('width', svg_width)
          .attr('height', svg_height);

  svg2.append('rect')
      .attr('width', svg_width)
      .attr('height', svg_height)
      .attr('fill', color_back);

  svg3 = d3.select('#development_fip')
           .append('svg')
           .attr('width', svg_width)
           .attr('height', svg_height);

  svg3.append('rect')
      .attr('width', svg_width)
      .attr('height', svg_height)
      .attr('fill', color_back);

  svg4 = d3.select('#development_mwar')
     .append('svg')
     .attr('width', svg_width)
     .attr('height', svg_height);

  svg4.append('rect')
      .attr('width', svg_width)
      .attr('height', svg_height)
      .attr('fill', color_back);

  // x-axis
  var x_scale = d3.scaleLinear()
                  .domain([subset_json.length - 1, 0])
                  .range([pct_pad * svg_width, (1 - pct_pad) * svg_width]);
  var x_axis = d3.axisBottom()
                 .tickFormat(function(d, i){return(month_labs[i])})
                 .scale(x_scale);

  svg1.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(0,' + (svg_height - x_padding) + ")")
     .attr('font-weight', 'bold')
     .call(x_axis);

  svg2.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(0,' + (svg_height - x_padding) + ")")
     .attr('font-weight', 'bold')
     .call(x_axis);

  svg3.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(0,' + (svg_height - x_padding) + ")")
     .attr('font-weight', 'bold')
     .call(x_axis);

  svg4.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(0,' + (svg_height - x_padding) + ")")
     .attr('font-weight', 'bold')
     .call(x_axis);

  // OG scale (one y-axis)
  // min/max flipped to maintain correct axis
  var og_scale = d3.scaleLinear().domain([
    d3.max(subset_json, function(d) {return (d['old grade'])}),
    d3.min(subset_json, function(d) {return (d['old grade'])}),
  ]).range([
    pct_pad * svg_height, 
    (1 - pct_pad) * svg_height
  ]);

  var y_axis1 = d3.axisLeft()
                  .scale(og_scale);

  svg1.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(' + y_padding + ",0)")
     .attr('font-weight', 'bold')
     .call(y_axis1);

  // secondary att scale
  // min/max flipped to mantain correct axis
  var woba_scale = d3.scaleLinear().domain([
    d3.max(subset_json, function(d) {return d['woba_mean']}),
    d3.min(subset_json, function(d) {return d['woba']}),
  ]).range([
    pct_pad * svg_height, 
    (1 - pct_pad) * svg_height
  ]);

  var y_axis2 = d3.axisLeft()
                  .scale(woba_scale);

  svg2.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(' + y_padding + ",0)")
     .attr('font-weight', 'bold')
     .call(y_axis2);

  var fip_scale = d3.scaleLinear().domain([
    d3.min(subset_json, function(d) {return d['fip_mean']}),
    d3.max(subset_json, function(d) {return d['fip']}),
  ]).range([
    pct_pad * svg_height, 
    (1 - pct_pad) * svg_height
  ]);

  var y_axis3 = d3.axisLeft()
                  .scale(fip_scale);

  svg3.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(' + y_padding + ",0)")
     .attr('font-weight', 'bold')
     .call(y_axis3);


  var war_scale = d3.scaleLinear().domain([
    d3.max(subset_json, function(d) {return d['mwar_mean']}),
    d3.min(subset_json, function(d) {return d['mwar']}),
  ]).range([
    pct_pad * svg_height, 
    (1 - pct_pad) * svg_height
  ]);

  var y_axis4 = d3.axisLeft()
                  .scale(war_scale);

  svg4.append('g')
     .attr('class', 'axis')
     .attr('transform', 'translate(' + y_padding + ",0)")
     .attr('font-weight', 'bold')
     .call(y_axis4);

  // function to create lines between OG pts
  var og_line = d3.line()
                  .x(function(d){return(x_scale(d['index']))})
                  .y(function(d){return(og_scale(d['old grade']))});

  var woba_line = d3.line()
                    .x(function(d){return(x_scale(d['index']))})
                    .y(function(d){return(woba_scale(d['woba']))});

  var woba_line_pot = d3.line()
                        .x(function(d){return(x_scale(d['index']))})
                        .y(function(d){return(woba_scale(d['woba_mean']))});

  var fip_line = d3.line()
                   .x(function(d){return(x_scale(d['index']))})
                   .y(function(d){return(fip_scale(d['fip']))});

  var fip_line_pot = d3.line()
                       .x(function(d){return(x_scale(d['index']))})
                       .y(function(d){return(fip_scale(d['fip_mean']))});

  var war_line = d3.line()
                   .x(function(d){return(x_scale(d['index']))})
                   .y(function(d){return(war_scale(d['mwar']))});

  var war_line_pot = d3.line()
                       .x(function(d){return(x_scale(d['index']))})
                       .y(function(d){return(war_scale(d['mwar_mean']))});


  // lines to connect both
  svg1.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', og_line)
     .attr('fill', 'none')
     .attr("stroke", color_main)
     .attr("stroke-width", 0.5 * it_sz);

  svg2.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', woba_line)
     .attr('fill', 'none')
     .attr("stroke", color_sec)
     .attr("stroke-width", 0.5 * it_sz);

  svg2.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', woba_line_pot)
     .attr('fill', 'none')
     .attr("stroke", color_sec)
     .attr("stroke-width", 0.5 * it_sz)
     .style("stroke-dasharray", ("3, 3"));

  svg3.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', fip_line)
     .attr('fill', 'none')
     .attr("stroke", color_ter)
     .attr("stroke-width", 0.5 * it_sz);

  svg3.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', fip_line_pot)
     .attr('fill', 'none')
     .attr("stroke", color_ter)
     .attr("stroke-width", 0.5 * it_sz)
     .style("stroke-dasharray", ("3, 3"));

  svg4.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', war_line)
     .attr('fill', 'none')
     .attr("stroke", color_main)
     .attr("stroke-width", 0.5 * it_sz)

  svg4.append('path')
     .datum(subset_json)
     .attr('class', 'line')
     .attr('d', war_line_pot)
     .attr('fill', 'none')
     .attr("stroke", color_main)
     .attr("stroke-width", 0.5 * it_sz)
     .style("stroke-dasharray", ("3, 3"));

  svg1.append("text")
     .attr("x", (svg_width / 2))             
     .attr("y", 20)
     .attr("text-anchor", "middle")  
     .style("font-size", "24px") 
     .text("Old Grade");

  svg2.append("text")
     .attr("x", (svg_width / 2))             
     .attr("y", 20)
     .attr("text-anchor", "middle")  
     .style("font-size", "24px") 
     .text("wOBA");

  svg3.append("text")
     .attr("x", (svg_width / 2))             
     .attr("y", 20)
     .attr("text-anchor", "middle")  
     .style("font-size", "24px") 
     .text("FIP");

  svg4.append("text")
     .attr("x", (svg_width / 2))             
     .attr("y", 20)
     .attr("text-anchor", "middle")  
     .style("font-size", "24px") 
     .text("WAR");

  // lines to create benchmarks
  for(var i in bat_benchmarks){
    if(woba_scale(bat_benchmarks[i]['pos']) < svg_height - x_padding){
      svg2.append('line')
          .attr('y1', woba_scale(bat_benchmarks[i]['pos']))
          .attr('x1', x_scale(0.25))
          .attr('y2', woba_scale(bat_benchmarks[i]['pos']))
          .attr('x2', x_scale(subset_json.length - 1))
          .attr('fill', 'none')
          .attr("stroke", color_ter)
          .attr("stroke-width", 0.2 * it_sz)
          .style("stroke-dasharray", ("5, 2"));
      svg2.append('text')
          .attr('x', x_scale(-0.1))
          .attr('y', woba_scale(bat_benchmarks[i]['pos']) + 5)
          .attr("text-anchor", "middle")  
          .style("font-size", "16px") 
          .text(bat_benchmarks[i]['lev']);
    }
  }

  for(i in pit_benchmarks){ 
    if(woba_scale(pit_benchmarks[i]['SP']) < svg_height - x_padding){
      svg3.append('line')
          .attr('y1', fip_scale(pit_benchmarks[i]['SP']))
          .attr('x1', x_scale(0.25))
          .attr('y2', fip_scale(pit_benchmarks[i]['SP']))
          .attr('x2', x_scale(subset_json.length - 1))
          .attr('fill', 'none')
          .attr("stroke", color_ter)
          .attr("stroke-width", 0.2 * it_sz)
          .style("stroke-dasharray", ("5, 2"));
      svg3.append('text')
          .attr('x', x_scale(-0.1))
          .attr('y', fip_scale(pit_benchmarks[i]['SP']) + 5)
          .attr("text-anchor", "middle")  
          .style("font-size", "16px") 
          .text(bat_benchmarks[i]['lev']);
    }
  }

</script>


<script type="text/javascript">
    // TRANSACTION + INJURY TABLES
    var injuryData = {{ injury_data | tojson }};
    var transactionData = {{ transaction_data | tojson }};
    var pitchStatData = {{ pit_stats | tojson }};
    var hitStatData = {{ hit_stats | tojson }};

    var majorsPitchStatData = pitchStatData[0];
    var minorsPitchStatData = pitchStatData[1];
    var majorsHitStatData = hitStatData[0];
    var minorsHitStatData = hitStatData[1];

    const injuryColumns = [
        {className: 'details-control', orderable: false, data: null, defaultContent: ''},
        {title: 'Date', data: 'date'},
        {title: 'Info', data: 'info'},
        {title: 'Type', data: 'type'},
        {title: 'Length', data: 'length'}
    ];

    const transactionColumns = [
        {className: 'details-control', orderable: false, data: null, defaultContent: ''},
        {title: 'Date', data: 'date'},
        {title: 'Type', data: 'type'},
        {title: 'To', data: 'to'},
        {title: 'From', data: 'from'},
        {title: 'Amount', data: 'amount'},
        {title: 'Years', data: 'years'}
    ];

    const pitchStatColumns = [
        {title: 'Year', data: 'Year'},
        {title: 'TM', data: 'Team'},
        {title: 'G', data: 'G'},
        {title: 'IP', data: 'IP'},
        {title: 'K%', data: 'K%'},
        {title: 'BB%', data: 'BB%'},
        {title: 'HR%', data: 'HR%'},
        {title: 'ERA', data: 'ERA'},
        {title: 'FIP', data: 'FIP'},
        {title: 'xFIP', data: 'xFIP'},
        {title: 'WAR', data: 'WAR'},
    ];

    const hitStatColumns = [
        {title: 'Year', data: 'Year'},
        {title: 'TM', data: 'Team'},
        {title: 'G', data: 'G'},
        {title: 'PA', data: 'PA'},
        {title: 'K%', data: 'K%'},
        {title: 'BB%', data: 'BB%'},
        {title: 'AVG', data: 'AVG'},
        {title: 'OBP', data: 'OBP'},
        {title: 'SLG', data: 'SLG'},
        {title: 'BABIP', data: 'BABIP'},
        {title: 'wRC+', data: 'wRC+'},
        {title: 'WAR', data: 'WAR'},
    ];

    function formatDetail(data) {
        return '<div> ' + data.detail + ' </div>'
    }

    $(document).ready(function() {
        const injuriesTable = $('#injuries').DataTable( {
            data: injuryData,
            columns: injuryColumns,
            pageLength: -1,
            dom: '<<t>>',
        } );

        const transactionsTable = $('#transactions').DataTable( {
            data: transactionData,
            columns: transactionColumns,
            pageLength: -1,
            dom: '<<t>>',
        } );

        if(majorsPitchStatData.length > 0) {
            const mjPitchStatTable = $('#pitch-stats-mj').DataTable({
                data: majorsPitchStatData,
                columns: pitchStatColumns,
                order: [],
                pageLength: -1,
                dom: '<<t>>',
            });
        }

        if(minorsPitchStatData.length > 0) {
            const mnPitchStatTable = $('#pitch-stats-mn').DataTable({
                data: minorsPitchStatData,
                columns: pitchStatColumns,
                order: [],
                pageLength: -1,
                dom: '<<t>>',
            });
        }

        if(majorsHitStatData.length > 0) {
            const mnHitStatTable = $('#hit-stats-mj').DataTable({
                data: majorsHitStatData,
                columns: hitStatColumns,
                order: [],
                pageLength: -1,
                dom: '<<t>>',
            });
        }

        if(minorsHitStatData.length > 0) {
            const mnHitStatTable = $('#hit-stats-mn').DataTable({
                data: minorsHitStatData,
                columns: hitStatColumns,
                order: [],
                pageLength: -1,
                dom: '<<t>>',
            });
        }

        // Add event listener for opening and closing details
        $('#transactions tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = transactionsTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( formatDetail(row.data()) ).show();
                tr.addClass('shown');
            }
        } );

        $('#injuries tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = injuriesTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( formatDetail(row.data()) ).show();
                tr.addClass('shown');
            }
        } );
    });

</script>