<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
<script src="../static/sorttable.js"></script>
<script src="../static/utils.js"></script>

<title>Team Info</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

<h1> <a href = "../"><img src="../static/bender.png", width="5%"> OOTP Robit</a></h1>
<h2> {% if phrase %} {{phrase}} {% else %} This would say something witty, but Hugh is dumb {% endif %}</h2>

<div class='row'>
    <div class = 'column'>
        <h3> Team search </h3>
        <form method="POST">
            <input name="team">
            <input type="submit">
        </form>
    </div>
    <div class = 'column'  valign="center">
        <input type = 'button' value = 'Player Comparison' onclick='window.location.href="/compare"'>
    </div>
    <div class = 'column'>
        <h3> Player search </h3>
        <form method="POST">
            <input name="player">
            <input type="submit">
        </form>
    </div>
</div>
<hr></hr>

{% if name %}
<h1> {{name}} </h1>
{% else %}
{% endif %}

{% if team_logo %}
 <img src='{{team_logo}}', height='150px', align="middle"> 
{% else %}
{% endif %}

<br>

{% if header_rec %}
<h2> {{header_rec | safe}} </h2>
{% else %}
{% endif %}

{% if header_fin %}
<h2> {{header_fin}} </h2>
{% else %}
{% endif %}

<br>

{% if header_ded %}
<h2> {{header_ded | safe}} </h2>
{% else %}
{% endif %}

<hr></hr>

{% if batting_table and pitching_table %}
    <h3> ML Roster </h3>
    <div class='row'>
    <div class='col-md-auto' style="padding-right:20px; border-right: 1px solid #ccc;">
      {{batting_table|safe}}
    </div>
    <div class='col-md-auto'>
      {{pitching_table|safe}}
    </div>
    </div>
{% endif %}

<!-- tables to be filled in w/ js later -->
<hr/>

<table id="ml-roster" class="display compact" style="width:100%"></table>

<hr/>

<table id="farm-system" class="display compact" style="width:100%"></table>

<hr/>

<table id="other-scout-ratings" class="display compact" style="width:100%"></table>

<script>
    // columns that will always be stylized as ratings
    const ratingColumns = ['POT', 'CON P', 'GAP P', 'POW P', 'EYE P', 'K P', 'STU P', 'MOV P', 'CTL P'];

    // team roster
    let majorsColNames = {{ majors_columns|safe }};
    let majorsDataSet = {{ majors_data|safe }};

    let majorsColumns = majorsColNames.map(function(item) {return {title: item}});

    let majorsColDefs = [
        {
            targets: ratingColumns.map(function(e){return(majorsColNames.indexOf(e))}),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(70, 55, 40, 25, cellData, true));
            }
        }, {
            targets: majorsColNames.indexOf('mwar_mean'),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(6.5, 4.5, 3.8, 3, cellData, true));
            }
        },
        {
            targets: majorsColNames.indexOf('Age'),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(0, 21, 30, 35, cellData, false));
            }
        },
    ];

    $(document).ready(function() {
        $('#ml-roster').DataTable( {
            data: majorsDataSet,
            columns: majorsColumns,
            columnDefs: majorsColDefs,
            pageLength: 100,
            order: [[majorsColNames.indexOf('old grade'), 'desc']],
        } );
    } );

    // team prospect table
    let prospectColNames = {{ prospects_columns|safe }};
    let prospectDataSet = {{ prospects_data|safe }};

    let prospectColumns = prospectColNames.map(function(item) {return {title: item}});

    let prospectsColDefs = [
        {
            targets: ratingColumns.map(function(e){return(prospectColNames.indexOf(e))}),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(70, 55, 40, 25, cellData, true));
            }
        },
        {
            targets: prospectColNames.indexOf('mwar_mean'),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(6.5, 4.5, 3.8, 3, cellData, true));
            }
        },
        {
            targets: prospectColNames.indexOf('Age'),
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(0, 21, 30, 35, cellData, false));
            }
        },
    ];


    $(document).ready(function() {
        $('#farm-system').DataTable( {
            data: prospectDataSet,
            columns: prospectColumns,
            columnDefs: prospectsColDefs,
            pageLength: 25,
            order: [[prospectColNames.indexOf('old grade'), 'desc']],
        } );
    } );

    // other scout table
    let otherScoutColNames = {{ other_scouts_columns|safe }};
    let otherScoutDataSet = {{ other_scouts_data|safe }};
    let otherScoutIndexes = {{ other_scout_indexes|safe }};

    let otherScoutColumns = otherScoutColNames.map(function(item) {return {title: item}});
    let otherScoutColDefs = [{
            targets: otherScoutIndexes,
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(70, 55, 40, 25, cellData, true));
            }
        },
        {
            targets: 3,
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(0, 21, 30, 35, cellData, false));
            }
        },
        {
            targets: 5,
            createdCell: function (td, cellData, rowData, row, col) {
                $(td).css('background-color', ratingColorMap(6.5, 4.5, 3.8, 3, cellData, true));
            }
        }];

    // https://datatables.net/extensions/searchpanes/examples/advanced/columnFilter.html
    $(document).ready(function() {
        $('#other-scout-ratings').DataTable( {
            data: otherScoutDataSet,
            columns: otherScoutColumns,
            columnDefs: otherScoutColDefs,
            pageLength: 25,
            order: [[4, 'desc']],
        } );
    } );
</script>
