<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
<script src="../static/sorttable.js"></script>
<title>Team Info</title>

<h1> <a href = "../"><img src="../static/bender.png", width="5%"> OOTP Robit</a></h1>
<h2> {% if phrase %} {{phrase}} {% else %} This would say something witty, but Hugh is dumb {% endif %}</h2>

<div class='row'>
    <div class = 'column'>
        <h3> Team search </h3>
        <form method="POST">
            <input name="team">
            <input type="submit">
        </form>
    </div>
    <div class = 'column'  valign="center">
        <input type = 'button' value = 'Player Comparison' onclick='window.location.href="/compare"'>
    </div>
    <div class = 'column'>
        <h3> Player search </h3>
        <form method="POST">
            <input name="player">
            <input type="submit">
        </form>
    </div>
</div>
<hr></hr>

{% if name %}
<h1> {{name}} </h1>
{% else %}
{% endif %}

{% if team_logo %}
 <img src='{{team_logo}}', height='150px', align="middle"> 
{% else %}
{% endif %}

<br>

{% if header_rec %}
<h2> {{header_rec | safe}} </h2>
{% else %}
{% endif %}

{% if header_fin %}
<h2> {{header_fin}} </h2>
{% else %}
{% endif %}

<br>

{% if header_ded %}
<h2> {{header_ded | safe}} </h2>
{% else %}
{% endif %}

<hr></hr>

{% if roster %}
  {% if batting_table %}
  <h3> ML Roster </h3>
  <div class='row'>
    <div class='col-md-auto' style="padding-right:20px; border-right: 1px solid #ccc;">
      {{batting_table|safe}}
    </div>
    <div class='col-md-auto'>
      {{pitching_table|safe}}
    </div>
  </div>
  <br>
  <br>
  {% else %}
  {% endif %}
  {{roster|safe }}
{% else %}
  <p> Error - no table </p>
{% endif %}

{% if prospects %}
  <h3> Farm System </h3>
  {{prospects|safe }}
{% else %}
  <p> Error - no table </p>
{% endif %}

{% if other_scouts %}
  <h3> Other Scouts </h3>
  {{other_scouts|safe }}
{% else %}
  <p> Error - no table </p>
{% endif %}
